<style>
  .module {
    background: 
      linear-gradient(
        rgba(253, 250, 250, 0.6),
        rgba(245, 236, 236, 0.6)
      ),
      url("../../assets/bgimg.jpg");
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
  }
  .top .row h1 {
    color: black;
  }
</style>

<div style="background-color: #ffffff;box-shadow: 5px 5px 5px #aaaaaa;">
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <img src="https://img.icons8.com/ios/20/000000/align-justify.png" class="mr-sm-3">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo.png" width="190">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <img src="https://img.icons8.com/ios/20/000000/dog-house.png" class="mr-sm-3">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login | Sign Up</button>
      </form>
    </div>
    </nav>
    </div>
  </div>
  

