<app-navbar></app-navbar>


<style>
  .module {
    background: 
      linear-gradient(
        
        rgba(253, 250, 250, 0.6),
        
        rgba(245, 236, 236, 0.6)
        /*rgba(0, 0, 0, 0.6)*/
      ),
      url("../../assets/bgimg.jpg");
      /* background-image: url("../../assets/bgimg.jpg"); */
    background-size: cover;
    width: 100%;
    /* height: 550px; */
    /*margin: 10px 0 0 10px;*/
    position: relative;
    /*transform: translate(-50%, -50%);*/
    /*float: left;*/
  }
  
  .top .row h1 {
    color: black;
    /*margin: 0;
    padding: 20px;*/
  }
</style>


<div class="module top">
  <div class="container" style="padding: 70px;">
    <h2 class="text-center">OTP</h2>
    <p class="text-center">Site back & Relax! <br> While we verify your mobile number</p>

    <div class="row" >
      <div class="col-sm-3" style="margin-left: 390px;">
        <!-- <label for="">Upload Profile Picture</label> -->
        <input type="text" class="form-control" id="email" placeholder="OTP" name="email">
      </div>
    </div>
    
    <!-- <button class="btn btn-primary" (click)="movetologin()">Login</button>     -->
    
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <br><br><br>
          <input type="submit" value="Submit" (click)="movetologin()" class="btn col-sm-3" style="background-color: #177996;color: blanchedalmond;height: 40px;font-size: 15px;">
        </div>
       </div>
    </div>

 </div>
</div>

<app-footer></app-footer>



