<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="../../assets/logo.png" alt="" width="260" height="100"><br><br>
      <p class="text-justify">QNature platform uses physically seperated 
        infrastructure protected by industry grade firewalls 
        and a stringent privacy policy. to ensure that the data from 
        QNature's provider software is kept isolated from 
        QNature's consumer data.</p>
        <p style="font-weight: bold;">Social</p>
        
        <div class="">
          <img src="https://img.icons8.com/color/35/000000/facebook.png">
          <img src="https://img.icons8.com/color/35/000000/twitter-circled.png">
          <img src="https://img.icons8.com/color/35/000000/youtube-play.png">
          <img src="https://img.icons8.com/color/35/000000/linkedin.png">
          <img src="https://img.icons8.com/color/35/000000/whatsapp.png">
          <img src="https://img.icons8.com/color/35/000000/vimeo.png">

        </div>
      </div>
              

    <br><br>
    <div class="col-sm-8">
        <div class="row"> 
            <div class="col-sm-2">
              <p style="font-weight: bold;">Quick Links</p>
              <p>Home</p>
              <p>About</p>
              <p>Blog</p>
              <p>Careers</p>
              <p>Press</p>
              <p>Contact Us</p>
            </div>
            <div class="col-sm-3" style="width: 3em;">
              <p style="font-weight: bold;">For Practitioner</p>
              <p>Naturopath</p>
              <p>Homeopathy</p>
              <p>Acupuncture</p>
              <p>Herbal Medicine</p>
              <p>Ayurveda</p>
              <p>Osteopathy</p>
              <p>Nutrition</p>
              <p>Kinesiology</p>
              <p>Reflexology</p>
              <p>Massage</p>
              <p>Yoga</p>
              <p>Pilates</p>
              <p>Hypnotherapy</p>
              <p>Podiatry</p>
              <p>Physiotherapy</p>
            </div>
            <div class="col-sm-4">
              <p style="font-weight: bold;">QNature Consults</p>
              <p>NP Consult</p>
              <p>NP Health Feed</p>
              <p>NP Profile</p>
              <br>
              <p style="font-weight: bold;">For Clinics</p> 
              <p>Ray by NP</p>
              <p>NP Reach</p>
              <p>Ray Tab</p>
              <p>NP Pro</p>
            </div>
            <div class="col-sm-3">
              <p style="font-weight: bold;">More</p>
              <p>Help</p>
              <p>Developers</p>
              <p>Privacy Policy</p>
              <p>Terms & Conditions</p>
              <p>Healthcare directory</p>
              <p>NP Health Wiki</p>
            </div>
        </div>
      </div>
    </div>
</div>



<!-- Footer -->
<footer class="page-footer font-small blue" style="background-color: blueviolet;color: rgb(221, 203, 203);">

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="">© 2020 Copyright:
        <a href="#"> QNature.com</a>
      </div>
    </div>
    <div class="col-sm-3">
      <a class=" my-2 my-sm-0 mr-sm-5" type="submit" >Privacy Policy</a>
      <a class=" my-2 my-sm-0" type="submit" >Terms of Use</a>
    </div>
  </div>
</div>
  <!-- <div class="footer-copyright text-center py-3 bg-secondary">© 2020 Copyright:
    <a href="#"> QNature.com</a>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <a class=" my-2 my-sm-0 mr-sm-5" type="submit" >Privacy Policy</a>
    <a class=" my-2 my-sm-0" type="submit" >Terms of Use</a>
  </form> -->

</footer>

<!-- <div class="bg-light">
<div class="bg-light container">
  
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">©2020 Copyright:QNature.com</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class=" my-2 my-sm-0 mr-sm-5" type="submit" >Privacy Policy</a>
      <a class=" my-2 my-sm-0" type="submit" >Terms of Use</a>
    </form>
  </div>

</div>
</div> -->
<!-- Footer -->
