
<app-navbar></app-navbar>


<style>
  .module {
    background: 
      linear-gradient(
        rgba(253, 250, 250, 0.6),
        rgba(245, 236, 236, 0.6)
      ),
      url("../../assets/bgimg.jpg");
    background-size: cover;
    width: 100%;
    position: relative;
  }
  .top .row h1 {
    color: black;
  }
</style>


<div class="module top">
  <div class="container" style="padding: 70px;">
    <h2 class="text-center">Business Information</h2>
    
    <form #empForm='ngForm' (ngSubmit)='empForm.valid && ram(empForm)'>
      <div class="row">
        <div class="col">
          <label for="">Click/Institute/Organization Name(Opt)*</label>
          <input type ="text" #oname="ngModel" name="oname" [(ngModel)]="binfo.oname"
          required class="form-control">
          <!-- <input type ="text" #oname="ngModel" name="oname" [(ngModel)]="binfo.oname" placeholder="Name"
          required  [ngClass]="{'invalid-textbox' :empForm.submitted && !name.valid }" class="form-control">
          <div *ngIf="empForm.submitted && !name.valid">
            <label class="validation-message">This field is required.</label>
          </div> -->
        </div>
        <div class="col">
          <label for="">Australian Business Number(ABN)*</label>
          <input type ="number" #abn="ngModel" name="abn" [(ngModel)]="abn.oname"
          required class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="">Address 1*</label>
          <input type ="text" #address1="ngModel" name="address1" [(ngModel)]="address1.oname"
          required class="form-control">
        </div>
        <div class="col">
          <label for="">Address 2</label>
          <input type ="text" #address2="ngModel" name="address2" [(ngModel)]="address2.oname"
          required class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="">City*</label>
          <input type ="text" #city="ngModel" name="city" [(ngModel)]="city.oname"
          required class="form-control">
        </div>
        <div class="col">
          <label for="">Area Code*</label>
          <input type ="number" #areacode="ngModel" name="areacode" [(ngModel)]="areacode.oname"
          required class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label for="">Country*</label>
          <select name="" id="" class="form-control">
            <option value="">India</option>
            <option value="">Australian</option>
          </select>
        </div>
      </div>
    </form>


    <div class="container">
      <div class="row">
        <div class="col text-center">
          <br><br><br>
          <input type="submit" value="CHECKOUT" class="btn col-sm-3" style="background-color: #177996;color: blanchedalmond;height: 50px;font-size: 25px;" (click)="movetopinfo()">
        </div>
       </div>
    </div>

 </div>
</div>

<app-footer></app-footer>
