<!-- <div class="row">
  <div *ngIf="user" >
      <img style="height:80px;width:45%;padding:10px;" src="http://localhost:2020/{{user.user.image}}">
     <br> <h4>{{user.user.name}}</h4>
          
  </div>
</div>

<button (click)="logout()">logout</button> -->


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img style="height:80px;width:45%;padding:10px;" src="http://localhost:2020/{{user.user.image}}">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="user">
    <ul class="navbar-nav mr-auto">
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <h4 class="mr-sm-2">{{user.user.name}}</h4>
      
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()" type="submit">Logout</button>
    </form>
  </div>
</nav> -->


<div style="background-color: #ffffff;box-shadow: 5px 5px 5px #aaaaaa;">
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <img src="https://img.icons8.com/ios/20/000000/align-justify.png" class="mr-sm-3">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo.png" width="190">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <img src="https://img.icons8.com/ios/20/000000/dog-house.png" class="mr-sm-3">
        <h4 class="mr-sm-2">{{user.user.name}}</h4>
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{user.user.name}}</button> -->
      </form>
    </div>
    </nav>
    </div>
  </div>
  

<div class="container">  
  <a class="navbar-brand" href="#">
    <img  src="http://localhost:2020/{{user.user.image}}" class="mr-3 mt-3 rounded-circle" style="width:60px;">
  </a>
</div>
